.form-input {
  display: block;
  height: 4rem;
  width: 100%;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: white;
  padding: 2rem 1.5rem;
  border-radius: 3px; }

.form-input:-webkit-autofill, .form-input:-webkit-autofill:hover, .form-input:-webkit-autofill:focus, .form-input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: red; }

.form-input:focus {
  outline: none;
  border-bottom: 2px solid #12d8fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

.form-label {
  display: none; }
