@import './degree_card/degree_card.scss';


.home-header{
  padding: 4rem;
  background-image: linear-gradient(
    rgba($secondary-color,0.6),
    rgba($primary-color,0.6)),
    url('/img/main/pic8.jpeg'
    );
  height:40rem;
  background-position: center;
  background-color: $primary-color;
  border-bottom: 2px solid $primary-color;
  @include respond(pc){
    height:50rem;
  }


  &-title{
    margin-top:20rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color:white;
    @include respond(big-phone){
      font-size:2.5rem;
    }
  }
}



.home-body{
  background-color: #fbfbfb;
  padding : 7rem 0;

  &-grid{
    margin: 0 auto ;
    width:90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include respond(big-phone){
      grid-template-columns: 1fr;
      width:80%;
    }
    @include respond(phone){
      width:90%;
    }
  }
}




/*



@media(max-width:900px){

  .b-grid{
      margin: 0 auto ;
      width:70%;
      display: grid;
      grid-template-columns: 1fr;
  }

}


@media(max-width:600px){
  .section-a{
      height:250px;
     
  }

  .a-header{
      margin-top:100px;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      color:white;
      
  }

  .b-grid{
      margin: 0 auto ;
      width:95%;
      display: grid;
      grid-template-columns: 1fr;
  }

  .card{
  
      border : 1px solid black;
      margin:20px 10px;
      display: flex; 
      align-items: stretch;
      height:200px; 
      
  }

  .card-text{
      flex:4;
      text-align: center;
      overflow: hidden;
      padding:5px;
      font-size:12px;
  }

  .section-b{
      background-color: #f4f4f4;
      padding : 15px 0;
  }

  .card-button{
      
      padding: 5px;
      font-size: 12px;
  
  }


}

*/