

.course-comments{

  &-header{
    
    text-decoration-line: underline;
    margin-bottom: 1rem;
    margin-left:5rem;
    @include respond(big-phone){
      margin-left:20%;
    }
  }

  &-form{
    
    font-size: 1.8rem;
    margin: 7rem 0;
    
    @include respond(big-phone){
      width:60%;
      margin: 7rem auto;
    }
    @include respond(phone){
      width:85%;
      margin: 7rem auto;
    }

    &-header{
      margin: 0 0 1rem 2rem;
    }

    &-body{
      width: 90%;
      height:8rem;
      border: 1px solid rgb(207, 207, 207);
      font-size:1.8rem;
      border-bottom: none;
      margin-bottom: -4px;
      padding : .5rem;
      
      &:focus{
        outline: none;
        border: 2px solid $primary-color-dark;
        border-bottom: none;
      }
    }

    &-button{
      display: block;
      color:white;
      background-color: $primary-color-dark;
      border:none;
      width:90%;
      font-size:2rem;
      
      
    }
  }

  

  &-container{
    height: auto;
  }
  
}






