.admin-degrees-header {
  font-size: 27px;
  margin-bottom: 20px;
  font-weight: 400;
  margin-left: 10%; }

.admin-degrees-table {
  width: 70%;
  background: white;
  padding: 20px;
  font-size: 18px;
  line-height: 200%;
  text-align: start;
  border: 1.5px solid black; }

.degree-link {
  color: #9f67fa; }

.admin-degrees-table th,
.admin-degrees-table ed {
  text-align: start; }

.admin-degrees-big-col {
  width: 20%; }

.admin-degrees-small-col {
  width: 5%; }

.admin-degrees-medium-col {
  width: 12%; }

.edit-icon {
  color: #1db925;
  margin-left: 20%; }

.delete-icon {
  color: #fdb85f;
  margin-left: 20%; }
