.admin-container{
  background: rgb(221, 221, 221);
  
  padding: 50px 0;
  border-bottom: 2px solid rgb(122, 122, 122);
}

.admin-header{
  
  
  width:80%;
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(1fr,4);
  grid-gap: 20px;
  grid-auto-rows: 150px;
  
}


.admin-header-pic1 > a,
.admin-header-pic2 > a,
.admin-header-pic3 > a,
.admin-header-pic4 > a{
 
  color:white;
  
}



.admin-header-pic1,
.admin-header-pic2,
.admin-header-pic3,
.admin-header-pic4{
  grid-row:1/2;
  font-size: 25px;
  color:white;
  text-align: center;
  padding-top:20px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  text-decoration: none;
}





.admin-header-pic1{

  grid-column: 1/2;
  background: rgb(82, 253, 66);
}
.admin-header-pic1:hover{
  background: rgb(63, 190, 51);
}


.admin-header-pic2{
  grid-column: 2/3;
  background: rgb(243, 71, 71);
}
.admin-header-pic2:hover{
  background: rgb(187, 55, 55);
}
.admin-header-pic3{
  grid-column: 3/4;
  background: rgb(92, 116, 252);
}
.admin-header-pic3:hover{
  background: rgb(70, 88, 189);
}
.admin-header-pic4{
  grid-column: 4/5;
  background: rgb(220, 79, 248);
}
.admin-header-pic4:hover{
  background: rgb(170, 61, 192);
}

.admin-header-icon{
  font-size: 60px;
}