@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
.u-height-6 {
  height: 9rem; }

html {
  font-family: 'Lato', 'sans-serif';
  font-size: 66%; }
  @media (max-width: 1200px) {
    html {
      font-size: 60%; } }
  @media (max-width: 900px) {
    html {
      font-size: 55%; } }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1450px) {
    html {
      font-size: 70%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  color: #525151;
  word-spacing: 3px; }

.app-form {
  background-image: linear-gradient(100deg, rgba(248, 248, 248, 0.9), rgba(248, 248, 248, 0.9)), url("/img/main/user1.jpg");
  background-color: white;
  background-size: cover;
  width: 100%;
  padding: 2rem 3rem; }

.form-group {
  padding: 1rem 1rem;
  width: 70%; }
  @media (max-width: 600px) {
    .form-group {
      width: 90%; } }

.err-msg {
  color: red;
  font-weight: 300; }

.admin-button {
  border: 1.5px solid #fd5f5f;
  background: white;
  color: #fd5f5f;
  width: 12rem;
  height: 5rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all .3s;
  border-radius: 10rem; }
  .admin-button:hover {
    border: none;
    background: #fd5f5f;
    color: white;
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .admin-button:focus {
    outline: none;
    transform: translateY(-0.5rem);
    border: 1.5px solid #5fb1fd; }

.button-primary {
  border: 1.5px solid #12d8fa;
  background: white;
  color: #12d8fa;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 3px; }
  .button-primary:hover {
    background: #12d8fa;
    color: white; }

.button-secondary {
  display: inline-block;
  border: 1.5px solid #4eff95;
  background: white;
  color: #4eff95;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10rem;
  font-weight: 500;
  transition: all .3s; }
  .button-secondary:hover {
    background: #4eff95;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    color: white;
    transform: translateY(-1rem); }
  .button-secondary:focus {
    outline: none;
    border: 1px solid #12d8fa; }

.header-primary {
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  background-image: linear-gradient(to right, #4eff95, #1fa2ff); }
  @media (max-width: 600px) {
    .header-primary {
      font-size: 3rem; } }
  .header-primary:hover {
    transform: rotate(10deg) scale(1.2); }

.header-secondary {
  display: inline-block;
  background-image: linear-gradient(to right, #087933, #1f59c4);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 2px;
  transition: all .2s;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #1fabc4; }
  .header-secondary:hover {
    transform: rotate(10deg) scale(1.1); }

.image-input {
  display: block;
  cursor: pointer;
  position: relative;
  font-size: 2.7rem;
  z-index: 5; }
  .image-input-group {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 2rem;
    padding: 0 2rem; }
  .image-input-text {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 2px;
    margin-left: -5px; }
  .image-input-show {
    margin-bottom: 1rem;
    width: 10rem;
    height: 7rem;
    margin-left: 2rem; }
  .image-input-hide {
    opacity: 0;
    margin-bottom: 1rem;
    margin-left: 2rem;
    width: 10rem;
    height: 7rem; }
  .image-input-icon {
    font-size: 5rem;
    color: #e23149;
    z-index: 10;
    cursor: pointer; }
    .image-input-icon::after {
      position: absolute;
      left: 3rem;
      top: 3rem;
      content: "";
      width: 3rem;
      height: 3rem;
      background-color: white;
      z-index: -1; }
    .image-input-icon:hover {
      color: red; }
  .image-input-err {
    margin-left: 1rem; }
  .image-input-element {
    display: none; }

.form-input {
  display: block;
  height: 4rem;
  width: 100%;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: white;
  padding: 0 1.5rem;
  border-radius: 3px; }
  .form-input:-webkit-autofill, .form-input:-webkit-autofill:hover, .form-input:-webkit-autofill:focus, .form-input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color: red; }
  .form-input:focus {
    outline: none;
    border-bottom: 2px solid #12d8fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

.form-label {
  display: none; }

.form-err-msg {
  font-size: 1.4rem; }

.select-input {
  display: block;
  width: 100%;
  height: 3rem;
  border: none; }
  .select-input-label {
    font-size: 1.3rem;
    display: block;
    margin-bottom: 3px; }

.text-area {
  display: block;
  height: 8rem;
  width: 70%;
  border: none;
  padding: 1rem;
  font-family: inherit;
  color: inherit; }
  .text-area-group {
    margin-left: 1rem;
    margin-top: 2rem; }
  .text-area:focus {
    outline: none;
    border-bottom: 2px solid #12d8fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

/* -------------------------- Section -G -----------------*/
.course-body {
  background: #f4f4f4;
  padding: 8rem 0; }
  .course-body-grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 4fr 3fr; }
    @media (max-width: 900px) {
      .course-body-grid {
        grid-template-columns: 1fr; } }

.course-comment {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3rem;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
  @media (max-width: 900px) {
    .course-comment {
      width: 60%;
      margin-left: 15%; } }
  @media (max-width: 600px) {
    .course-comment {
      width: 80%;
      margin-left: 10%; } }
  .course-comment .course-comment-grid {
    display: flex; }
  .course-comment-container {
    flex: 1 0;
    height: 7rem; }
  .course-comment-image {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .course-comment-header {
    flex: 5;
    font-weight: 600;
    font-size: 1.8rem;
    padding-left: 1rem; }
  .course-comment-body {
    margin-top: -2rem;
    margin-left: 8rem; }
    @media (max-width: 900px) {
      .course-comment-body {
        margin-left: 10rem; } }
    @media (min-width: 1450px) {
      .course-comment-body {
        margin-left: 10rem; } }
  .course-comment-delete-icon {
    position: absolute;
    right: 2rem;
    top: .5rem;
    font-size: 3rem;
    color: #fda66c;
    cursor: pointer; }

.course-comments-header {
  text-decoration-line: underline;
  margin-bottom: 1rem;
  margin-left: 5rem; }
  @media (max-width: 900px) {
    .course-comments-header {
      margin-left: 20%; } }

.course-comments-form {
  font-size: 1.8rem;
  margin: 7rem 0; }
  @media (max-width: 900px) {
    .course-comments-form {
      width: 60%;
      margin: 7rem auto; } }
  @media (max-width: 600px) {
    .course-comments-form {
      width: 85%;
      margin: 7rem auto; } }
  .course-comments-form-header {
    margin: 0 0 1rem 2rem; }
  .course-comments-form-body {
    width: 90%;
    height: 8rem;
    border: 1px solid #cfcfcf;
    font-size: 1.8rem;
    border-bottom: none;
    margin-bottom: -4px;
    padding: .5rem; }
    .course-comments-form-body:focus {
      outline: none;
      border: 2px solid #1fa2ff;
      border-bottom: none; }
  .course-comments-form-button {
    display: block;
    color: white;
    background-color: #1fa2ff;
    border: none;
    width: 90%;
    font-size: 2rem; }

.course-comments-container {
  height: auto; }

.course-content {
  padding-left: 5%;
  line-height: 150%;
  font-size: 1.8rem; }
  .course-content-header {
    margin-bottom: 5rem;
    margin-left: 15%; }
  .course-content-body {
    width: 85%;
    margin-left: 0;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }
  .course-content-container {
    display: inline-block; }
  .course-content-text {
    display: inline-block;
    margin-left: 1.5rem; }
  .course-content-icon {
    color: #00ac64; }
  .course-content-row {
    list-style: none;
    display: flex; }

.course-overview {
  padding-left: 5%;
  line-height: 150%;
  font-size: 1.8rem; }
  .course-overview-header {
    margin: 5rem 0 5rem 15%; }
  .course-overview-body {
    width: 85%;
    margin-left: 0;
    background-color: white;
    padding: 5rem;
    border-radius: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

.course-header {
  padding: 3rem 0;
  background-image: linear-gradient(rgba(166, 255, 203, 0.3), rgba(18, 216, 250, 0.3)), url("/img/main/pic8.jpeg");
  background-size: cover;
  border-bottom: 5px solid #1fa2ff; }
  @media (min-width: 1450px) {
    .course-header {
      height: 45rem; } }
  .course-header-grid {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 6rem; }
  .course-header-title {
    grid-column: 4/9;
    grid-row: 2/3;
    text-align: center;
    padding: 3rem; }
    .course-header-title h2 {
      display: inline-block;
      padding: 1rem 2rem;
      font-size: 3rem;
      font-weight: 400;
      color: #4eff95;
      cursor: pointer;
      text-align: center;
      background: rgba(18, 216, 250, 0.3);
      border-radius: 10rem;
      border: 3px solid #4eff95;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      transition: all .2s;
      text-transform: uppercase;
      letter-spacing: 2px; }
      @media (max-width: 900px) {
        .course-header-title h2 {
          font-size: 2.5rem; } }
      @media (min-width: 1450px) {
        .course-header-title h2 {
          margin-right: 30%; } }
      .course-header-title h2:hover {
        transform: translateY(-0.5rem) scale(1.05); }
  .course-header-container {
    border: 4px solid #a6ffcb;
    grid-row: 2/7;
    grid-column: 2/4;
    transition: all .3s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    @media (max-width: 600px) {
      .course-header-container {
        grid-column: 1/4;
        margin-left: 3rem; } }
    .course-header-container:hover {
      transform: rotate(5deg) scale(1.05);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }
  .course-header-image {
    width: 100%;
    height: 100%; }
  .course-header-overview {
    grid-row: 4/7;
    grid-column: 4/9;
    margin-left: 30%;
    color: #a6ffcb;
    padding: 2rem;
    line-height: 160%;
    overflow: hidden;
    font-size: 1.8rem;
    border-left: none; }
    .course-header-overview strong {
      font-weight: 400; }
    @media (max-width: 900px) {
      .course-header-overview {
        margin-left: 20%; } }

.degree-first {
  background: white;
  padding: 8rem 0 4rem 0;
  text-align: center; }
  .degree-first-title {
    margin-bottom: 3rem;
    height: 5rem; }
  .degree-first-button {
    display: inline-block;
    margin-left: 20%; }
    @media (max-width: 600px) {
      .degree-first-button {
        margin-left: 10%; } }

.degree-info {
  padding: 4rem 0;
  font-size: 1.8rem;
  line-height: 150%; }
  .degree-info-container {
    width: 60%;
    margin: 0 auto; }

.degree-courses {
  padding: 4rem 0;
  background: white;
  margin-bottom: 9rem; }
  .degree-courses-container {
    margin-left: 20%;
    margin-bottom: 6rem; }
  .degree-courses-grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 3rem;
    grid-auto-rows: 35rem; }
    @media (min-width: 1450px) {
      .degree-courses-grid {
        width: 70%; } }

/*------------------------- Media Query ---------------------*/
/*

@media (min-width: 1300px){
  .e-grid{
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      grid-row-gap: 20px;
      grid-column-gap: 30px;
      grid-auto-rows:350px;
      
  }
}

@media (min-width: 1700px){
  .e-grid{
      width: 70%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      grid-row-gap: 20px;
      grid-column-gap: 30px;
      grid-auto-rows:350px;
      
  }
}


@media (max-width: 900px){
  .images-grid{
      width:90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      grid-auto-rows: 100px;  
  }

  .e-grid{
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
      grid-row-gap: 20px;
      grid-column-gap: 30px;
      grid-auto-rows:350px;
      
  }


  .section-d{
      padding: 40px 0;
      font-size:18px;
      line-height: 130%;
  
  }
  
  .container{
      width:80%;
      margin: 0 auto;
  }
  


}

@media (max-width: 500px){

  .section-c-header{
      grid-column: 1/4;
      font-size: 25px;
      font-weight: 300;
      margin-left:20%;
      margin-top:30px;
      
  }
  .images-grid{
      width:90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      grid-auto-rows: 70px;
      
  }

  .section-d{
      padding: 40px 0;
      font-size:16px;
      line-height: 130%;
  
  }
  
  .container{
      width:90%;
      margin: 0 auto;
  }


  .e-header{
      margin-left:20%;
      font-size: 35px;
      font-weight: 300;
      width:190px;
      margin-bottom: 50px;
      border-bottom: 2px solid rgb(10, 107, 102);
      color:rgb(10, 107, 102);
      
  }
  
  .e-grid{
      width: 95%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
      grid-row-gap: 20px;
      grid-column-gap: 10px;
      grid-auto-rows:250px;
      
  }


  .e-card{
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      height:100%;
      background: white;
      font-size:14px;
  }
  
  .e-card-img{
      height:50%;
      
  }
  
  .e-card-body{
      height:32%;
      padding-top:10px;
      
  }
  
  .e-btn-container{
      height:18%;
  }
  
  .e-card-header{
      font-size:14px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 5px;
  }
  
  .e-card-button{
      margin-top:5px;
      margin-left:20%;
      font-size: 14px;
     
      padding:5px;
     
  }
}


@media (max-width: 350px){

  .e-grid{
      width: 80%;
      grid-template-columns: repeat(auto-fit,minmax(150px,1fr)); 
  }

}


*/
.e-card {
  border: 0.5px solid #ccc;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white; }
  .e-card-img {
    width: 100%;
    height: 100%; }
  .e-card-header {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem; }
  .e-card-text {
    text-align: center; }
  .e-card-body {
    height: 30%;
    padding: 1rem; }

.img-container {
  height: 50%; }

.e-btn-container {
  height: 20%;
  text-align: center;
  margin-top: 10%; }

.degree-header {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 10rem; }
  @media (max-width: 900px) {
    .degree-header {
      width: 80%; } }
  @media (max-width: 600px) {
    .degree-header {
      width: 85%; } }
  @media (min-width: 1450px) {
    .degree-header {
      width: 60%; } }
  .degree-header-image {
    width: 100%;
    height: 100%;
    margin: 1rem;
    border: 4px solid #4eff95;
    -webkit-filter: brightness(85%);
    filter: brightness(85%); }
    .degree-header-image:hover {
      -webkit-filter: brightness(105%);
      filter: brightness(105%); }
  .degree-header-container-1 {
    grid-column: 1/3;
    grid-row: 1/5; }
    .degree-header-container-1 img {
      border-right: 2px solid #4eff95; }
  .degree-header-container-2 {
    grid-column: 3/5;
    grid-row: 1/3; }
    .degree-header-container-2 img {
      border-left: 2px solid #4eff95;
      border-bottom: 2px solid #4eff95; }
  .degree-header-container-3 {
    grid-column: 3/5;
    grid-row: 3/5; }
    .degree-header-container-3 img {
      border-top: 2px solid #4eff95;
      border-left: 2px solid #4eff95; }

.home-card {
  border: 1px solid #d1d1d1;
  margin: 2rem;
  display: flex;
  align-items: stretch;
  height: 25rem; }
  @media (min-width: 1450px) {
    .home-card {
      height: 30rem; } }
  .home-card:hover {
    box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.15); }
  .home-card-container {
    flex: 3; }
  .home-card-image {
    width: 100%;
    height: 100%; }
  .home-card-body {
    flex: 2;
    background: #fff;
    display: flex;
    flex-direction: column; }
  .home-card-header {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    flex: 1; }
  .home-card-text {
    flex: 4;
    text-align: center;
    overflow: hidden;
    padding: 5px; }
  .home-card-button {
    flex: 2;
    text-align: center; }

.home-header {
  padding: 4rem;
  background-image: linear-gradient(rgba(166, 255, 203, 0.6), rgba(18, 216, 250, 0.6)), url("/img/main/pic8.jpeg");
  height: 40rem;
  background-position: center;
  background-color: #12d8fa;
  border-bottom: 2px solid #12d8fa; }
  @media (min-width: 1450px) {
    .home-header {
      height: 50rem; } }
  .home-header-title {
    margin-top: 20rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: white; }
    @media (max-width: 900px) {
      .home-header-title {
        font-size: 2.5rem; } }

.home-body {
  background-color: #fbfbfb;
  padding: 7rem 0; }
  .home-body-grid {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media (max-width: 900px) {
      .home-body-grid {
        grid-template-columns: 1fr;
        width: 80%; } }
    @media (max-width: 600px) {
      .home-body-grid {
        width: 90%; } }

/*



@media(max-width:900px){

  .b-grid{
      margin: 0 auto ;
      width:70%;
      display: grid;
      grid-template-columns: 1fr;
  }

}


@media(max-width:600px){
  .section-a{
      height:250px;
     
  }

  .a-header{
      margin-top:100px;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      color:white;
      
  }

  .b-grid{
      margin: 0 auto ;
      width:95%;
      display: grid;
      grid-template-columns: 1fr;
  }

  .card{
  
      border : 1px solid black;
      margin:20px 10px;
      display: flex; 
      align-items: stretch;
      height:200px; 
      
  }

  .card-text{
      flex:4;
      text-align: center;
      overflow: hidden;
      padding:5px;
      font-size:12px;
  }

  .section-b{
      background-color: #f4f4f4;
      padding : 15px 0;
  }

  .card-button{
      
      padding: 5px;
      font-size: 12px;
  
  }


}

*/
.footer {
  background: linear-gradient(to left, #1fa2ff, #12d8fa, #a6ffcb);
  height: 200px; }

.footer-grid {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: white;
  font-weight: 600; }

.footer-ul-1 {
  grid-column: 3/4;
  list-style: none; }

.footer-ul-2 {
  grid-column: 5/6;
  list-style: none; }

.footer-grid a {
  cursor: pointer;
  color: white;
  text-decoration: none; }

.footer-grid li {
  margin-top: 5px; }

.navbar {
  padding-top: 5px;
  color: white;
  height: 35%;
  display: flex; }
  @media (max-width: 600px) {
    .navbar {
      display: block;
      height: 40%; } }
  .navbar-ul {
    flex: 1;
    display: flex;
    font-weight: 600; }
    .navbar-ul-right {
      justify-content: flex-end;
      margin-right: 10%; }
      @media (max-width: 600px) {
        .navbar-ul-right {
          margin-right: 0%;
          justify-content: center;
          margin-top: 5px; } }
    .navbar-ul-left {
      justify-content: center; }
  .navbar-link {
    text-decoration: none;
    color: white;
    list-style: none;
    cursor: pointer; }
    .navbar-link-big {
      width: 11rem; }
    .navbar-link-email {
      margin-right: 2rem; }
    .navbar-link-medium {
      width: 7rem; }
  .navbar-logo h1 {
    text-align: center;
    color: white; }
    @media (max-width: 600px) {
      .navbar-logo h1 {
        padding: 2rem; } }

.main-header {
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
  height: 7.5rem;
  border-bottom: 2px solid #fff; }
  @media (max-width: 600px) {
    .main-header {
      display: block;
      height: 10rem; } }

/*

@media(max-width:600px){
    
  .navbar{
      display: flex;
      flex-direction: column;
      height: auto;
      
  }
  .nav-left-ul{
      justify-content: center;
      border-bottom: 1.5px solid white;
  }
  
  .nav-right-ul{
      justify-content: center;
      border-bottom: 1.5px solid white;
  }
  .main-header{
      background: linear-gradient(to right,#1fa2ff,#12d8fa,#a6ffcb);
      height:80px;
      border-bottom: 2px solid #fff;
  }
}

*/
.students-courses-image {
  height: 100%;
  width: 100%; }

.students-courses-col-small {
  width: 5%; }

.students-courses-col-medium {
  width: 10%; }

.students-courses-col-big {
  width: 20%; }

.students-courses-list-item {
  background: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 15rem;
  margin: 2rem 0; }

.students-courses-image-container {
  grid-column: 1/2; }

.students-courses-image {
  height: 100%;
  width: 100%; }

.students-courses-text {
  grid-row: 1/2;
  grid-column: 2/4;
  font-size: 1.8rem;
  line-height: 150%;
  padding-left: 1rem; }
  @media (max-width: 900px) {
    .students-courses-text {
      font-size: 1.6rem;
      line-height: 130%; } }

.students-courses-button-container {
  grid-column: 4/5;
  padding: 6rem 1rem;
  text-align: center; }
  @media (max-width: 600px) {
    .students-courses-button-container {
      font-size: 1.4rem;
      padding: 2rem 1rem; } }

.students-header {
  height: 30rem;
  color: white;
  background: linear-gradient(to right, rgba(9, 155, 155, 0.5), rgba(28, 184, 145, 0.5), rgba(41, 255, 198, 0.5)), url("/img/main/users2.jpeg");
  background-position: center; }
  @media (min-width: 1450px) {
    .students-header {
      height: 35rem; } }
  .students-header-container {
    width: 80%;
    margin: 0 auto; }
  .students-header-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 10rem;
    padding-top: 4rem; }
  .students-header-image-container {
    grid-column: 1/3;
    grid-row: 1/3; }
    .students-header-image-container :hover {
      transform: scale(1.1);
      background-color: #12d8fa; }
    @media (max-width: 900px) {
      .students-header-image-container {
        grid-column: 1/4; } }
    @media (max-width: 600px) {
      .students-header-image-container {
        grid-column: 1/5; } }
  .students-header-image {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: white;
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.7);
    transition: all .3s; }
  .students-header-text {
    grid-column: 3/12;
    grid-row: 1/3;
    padding: 3rem;
    line-height: 150%;
    font-size: 1.8rem; }
    .students-header-text-main {
      display: inline-block;
      padding: 2rem 0;
      margin-bottom: 1rem;
      font-size: 4rem;
      font-weight: 400;
      transition: all .3s; }
      .students-header-text-main:hover {
        transform: translateX(1rem);
        color: #12d8fa; }
    @media (max-width: 900px) {
      .students-header-text {
        grid-column: 4/12; } }
    @media (max-width: 600px) {
      .students-header-text {
        grid-column: 5/12; } }

.students-courses {
  background: white;
  padding: 10rem;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  /*
&-table{
  background: white;
  border: 1px solid black;
  padding: 20px;
  width:80%;
  text-align: left;
  line-height: 150%;
  font-size:18px;
    
  }

  */ }
  @media (max-width: 900px) {
    .students-courses {
      padding: 4rem; } }
  @media (max-width: 600px) {
    .students-courses {
      padding: 0; } }
  @media (min-width: 1450px) {
    .students-courses {
      padding: 10rem 20rem; } }
  .students-courses-container {
    width: 80%;
    margin: 0 auto; }
    @media (max-width: 900px) {
      .students-courses-container {
        width: 90%; } }
    @media (max-width: 600px) {
      .students-courses-container {
        width: 95%; } }
    @media (min-width: 1450px) {
      .students-courses-container {
        width: 80%; } }
  .students-courses-header {
    margin-left: 20%;
    padding: 2rem; }

.users {
  position: fixed;
  height: 100vh;
  z-index: 100;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  background-color: rgba(0, 0, 0, 0.7); }
  .users-card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 80%;
    overflow: hidden;
    padding: 3rem 5rem;
    margin: 0 auto;
    border: 1px solid #bdbdbd;
    background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(166, 255, 203, 0.2) 50%), url("/img/main/pic8.jpeg");
    background-size: cover;
    transition: all .3s;
    transform: translate(-50%, -50%) scale(0.2); }
    @media (max-height: 550px) {
      .users-card {
        height: 95%; } }
    @media (max-width: 900px) {
      .users-card {
        width: 75%; } }
    @media (max-width: 600px) {
      .users-card {
        background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("/img/main/pic8.jpeg");
        width: 80%; } }
    @media (min-width: 1450px) {
      .users-card {
        width: 40%; } }
    .users-card:target ~ .layout {
      background-color: rgba(0, 0, 0, 0.8); }
    .users-card-form {
      margin-top: 5rem;
      width: 70%;
      position: relative; }
      @media (max-width: 600px) {
        .users-card-form {
          width: 100%; } }
    .users-card-exit {
      cursor: pointer;
      font-weight: 600;
      position: absolute;
      top: 1rem;
      right: 2rem;
      text-decoration: none;
      font-size: 3rem;
      color: #7c7c7c;
      line-height: 1; }
      .users-card-exit:hover {
        color: #12d8fa; }
    .users-card-button {
      display: inline-block;
      text-decoration: none;
      padding: 1rem 1.5rem;
      border-radius: 10rem;
      border: none;
      background: #12d8fa;
      color: white;
      transition: all .3s; }
      .users-card-button-container {
        margin: 5rem 0  0 30%; }
      .users-card-button:hover {
        transform: scale(1.15); }

.users-open {
  opacity: 1;
  visibility: visible; }
  .users-open-card {
    transform: translate(-50%, -50%) scale(1); }

.users-form-group {
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 70%; }

.register-body {
  background: #f4f6ff;
  padding-top: 100px;
  padding-bottom: 100px; }

.register-card {
  position: relative;
  padding: 1rem;
  margin: 0;
  width: 70%;
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 60%, rgba(166, 255, 203, 0.2) 60%), url("/img/main/pic8.jpeg"); }
  @media (max-width: 900px) {
    .register-card {
      width: 85%; } }
  @media (max-width: 600px) {
    .register-card {
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("/img/main/pic8.jpeg"); } }
  @media (min-width: 1450px) {
    .register-card {
      width: 60%; } }
  .register-card-button-container {
    position: absolute;
    top: 40%;
    right: -50%; }
    @media (max-height: 550px) {
      .register-card-button-container {
        top: 20%; } }
  .register-card-image-container {
    position: relative;
    width: 40%;
    height: 20rem;
    margin-top: -3rem; }
  .register-card-button {
    background-color: #1fa2ff; }

.register-form-group {
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 90%; }

.admin-comments {
  /*
  &-table{
    width:90%;
    background: white;
    padding: 2rem;
    font-size:1.8rem;
    line-height: 160%;
    text-align: start;
    border: 1.5px solid black;
    border-collapse: collapse;
  }
  */ }
  .admin-comments-row {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d3d0d0;
    font-size: 1.6rem; }
    .admin-comments-row-details {
      flex: 2;
      padding: 2rem;
      line-height: 140%; }
    .admin-comments-row-body {
      flex: 4;
      letter-spacing: 100%;
      padding: 2rem;
      line-height: 140%; }
    .admin-comments-row-delete {
      flex: 1;
      padding: 2rem;
      color: #ff7b00; }
      .admin-comments-row-delete span {
        cursor: pointer; }

.admin-courses-tiny-col {
  width: 1%; }

.admin-courses-table {
  position: relative; }
  .admin-courses-table-link {
    color: #9f67fa; }
  .admin-courses-table-icon {
    position: absolute;
    top: 6.5rem;
    right: 8rem;
    font-size: 4rem;
    color: #fa7878;
    transition: all .3s;
    cursor: pointer; }
    @media (max-width: 600px) {
      .admin-courses-table-icon {
        right: 4rem; } }
    .admin-courses-table-icon:hover {
      transform: scale(1.2); }
  .admin-courses-table-image {
    width: 80%;
    height: 5rem; }
  .admin-courses-table-header {
    margin: 2rem 0 2rem 5%;
    width: 65%; }

.show-image,
.show-image1,
.show-image2,
.show-image3 {
  margin-top: 20px;
  width: 120px;
  height: 70px; }

#degree-image1,
#degree-image2,
#degree-image3 {
  display: none; }

.admin-degree-info {
  display: flex;
  flex-direction: row;
  position: relative; }
  @media (max-width: 600px) {
    .admin-degree-info {
      display: block; } }
  .admin-degree-info-button {
    text-align: center;
    margin: 5rem 0; }
  .admin-degree-info-header {
    margin: 3rem 0;
    text-align: center;
    color: #fa7878;
    font-weight: 400;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s; }
    .admin-degree-info-header:hover {
      transform: scale(1.1); }
  .admin-degree-info-space {
    height: 5rem; }
  .admin-degree-info-body {
    flex: 3; }
  .admin-degree-info-add {
    flex: 2; }

.admin-degrees-table {
  position: relative; }
  .admin-degrees-table-header {
    margin: 2rem;
    width: 70%; }
  .admin-degrees-table-icon {
    position: absolute;
    top: 6.5rem;
    right: 8rem;
    font-size: 4rem;
    color: #fa7878;
    transition: all .3s;
    cursor: pointer; }
    @media (max-width: 600px) {
      .admin-degrees-table-icon {
        right: 4rem; } }
    .admin-degrees-table-icon:hover {
      transform: scale(1.2); }
  .admin-degrees-table-link {
    color: #9f67fa; }
  .admin-degrees-table-image {
    border: none;
    height: 7rem;
    width: 15rem;
    border: 0.5px solid #dadada; }
    @media (max-width: 900px) {
      .admin-degrees-table-image {
        width: 8rem;
        height: 5rem; } }

.admin-container {
  background: #dddddd;
  padding: 5rem 0;
  border-bottom: 2px solid #7a7a7a; }

.admin-header {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-gap: 2rem;
  grid-auto-rows: 15rem; }
  @media (max-width: 900px) {
    .admin-header {
      width: 90%; } }
  @media (max-width: 600px) {
    .admin-header {
      grid-auto-rows: 7rem; } }

.admin-header-picture {
  grid-row: 1/2;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding-top: 2rem;
  border-radius: 50%;
  transition: all .3s;
  cursor: pointer;
  text-decoration: none; }
  @media (max-width: 600px) {
    .admin-header-picture {
      font-size: 1.3rem;
      padding-top: 1rem; } }
  .admin-header-picture-one {
    grid-column: 1/2;
    background: #52fd42;
    border: 2px solid #3fbe33; }
    .admin-header-picture-one:hover {
      background: #3fbe33; }
  .admin-header-picture-two {
    grid-column: 2/3;
    background: #f34747;
    border: 2px solid #bb3737; }
    .admin-header-picture-two:hover {
      background: #bb3737; }
  .admin-header-picture-three {
    grid-column: 3/4;
    background: #5c74fc;
    border: 2px solid #4658bd; }
    .admin-header-picture-three:hover {
      background: #4658bd; }
  .admin-header-picture-four {
    grid-column: 4/5;
    background: #dc4ff8;
    border: 2px solid #aa3dc0; }
    .admin-header-picture-four:hover {
      background: #aa3dc0; }
  .admin-header-picture a {
    color: white; }
  .admin-header-picture:hover {
    transform: scale(1.05); }

.admin-header-icon {
  font-size: 6rem; }
  @media (max-width: 600px) {
    .admin-header-icon {
      font-size: 3rem; } }

.admin-navbar {
  display: flex;
  height: 8rem;
  padding: 2.5rem 20%;
  background: #d62e36;
  color: white;
  border-bottom: 2px solid #f08383;
  font-size: 1.8rem;
  width: 100%; }
  @media (max-width: 900px) {
    .admin-navbar {
      padding: 2.5rem 10%; } }
  @media (max-width: 600px) {
    .admin-navbar {
      padding: 2.5rem 5%; } }
  .admin-navbar h2 {
    flex: 1; }
    @media (max-width: 600px) {
      .admin-navbar h2 {
        font-size: 2rem;
        flex: 3; } }
  .admin-navbar-ul-left {
    flex: 1;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 600px) {
      .admin-navbar-ul-left {
        flex: 5; } }
  .admin-navbar-list-item {
    width: 25%;
    list-style: none; }
  .admin-navbar-link {
    color: white;
    text-decoration: none;
    font-weight: 600; }
    @media (max-width: 600px) {
      .admin-navbar-link {
        font-size: 1.5rem; } }

.admin-sidebar {
  flex: 1;
  background: rgba(0, 0, 0, 0.85);
  height: auto; }
  @media (max-width: 1000px) {
    .admin-sidebar {
      display: none;
      flex: 0 1 0; } }

.admin-sidebar ul {
  color: white;
  list-style: none; }

.admin-logo {
  padding-top: 10px;
  width: 50%;
  margin: 10px auto 30px auto; }

.admin-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%; }

.admin-icon {
  font-size: 80px;
  size: 100px;
  color: black; }

.admin-sidebar-header {
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: 20px; }

.admin-links {
  display: flex;
  flex-direction: column; }

.admin-links li {
  list-style: none;
  margin-left: 10%;
  margin-bottom: 20px; }

.admin-links a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px; }

.admin-links a:hover {
  background: rgba(0, 0, 0, 0.596); }

.admin-users {
  /*
  &-header{
    display: inline-block;
    color: $admin-color-dark;
    cursor: pointer;
    transition: all .3s;
    font-size:2.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    margin-left:12%;
    padding: 2rem;

    &:hover{
      transform: rotate(10deg) scale(1.1);
      
    }
    */ }
  .admin-users-forms {
    display: inline-block;
    width: 70%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }

#user-image {
  display: none; }

.user-image {
  width: 80%;
  height: 50px;
  background: #ececec;
  border-radius: 50%; }

.admin-users-table {
  position: relative; }
  .admin-users-table-header {
    margin: 2rem 0 2rem 5%; }
  .admin-users-table-icon {
    position: absolute;
    top: 6.5rem;
    right: 8rem;
    font-size: 4rem;
    color: #fa7878;
    transition: all .3s;
    cursor: pointer; }
    @media (max-width: 600px) {
      .admin-users-table-icon {
        right: 4rem; } }
    .admin-users-table-icon:hover {
      transform: scale(1.2); }

.admin-form {
  display: block;
  width: 70%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #dbdbdb; }
  @media (max-width: 1000px) {
    .admin-form {
      margin: 0 auto; } }
  @media (max-width: 900px) {
    .admin-form {
      width: 90%;
      margin: 0 auto; } }
  .admin-form-header {
    display: inline-block;
    color: #fa7878;
    cursor: pointer;
    transition: all .3s;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .admin-form-header:hover {
      transform: rotate(10deg) scale(1.1); }
  .admin-form-button {
    margin: 2rem 0 3rem 45%; }

.admin-form-header-fix {
  margin: 3rem 0 3rem 10rem; }
  @media (max-width: 900px) {
    .admin-form-header-fix {
      margin: 3rem 0 3rem 2rem; } }

.admin-table {
  width: 100%;
  background: white;
  padding: 2rem;
  font-size: 1.8rem;
  line-height: 200%;
  text-align: start;
  border: 1.5px solid #e0e0e0; }
  .admin-table th {
    text-align: start; }
  .admin-table-big-col {
    width: 20%; }
  .admin-table-small-col {
    width: 5%; }
  .admin-table-medium-col {
    width: 12%; }

.edit-icon {
  color: #1db925;
  margin-left: 20%; }

.delete-icon {
  color: #fdb85f;
  margin-left: 20%; }

@media (max-width: 600px) {
  .hide-on-phone {
    display: none; } }

.hidden {
  display: none; }

.admin-grid {
  height: auto;
  min-height: 80rem;
  display: flex; }

.admin-main {
  flex: 4;
  height: auto;
  background: #f4f4f4; }

.admin-main-block {
  padding: 5% 10%;
  width: 100%; }
  @media (max-width: 900px) {
    .admin-main-block {
      padding: 5% 2%; } }

.admin-footer {
  background: white;
  color: black; }

.admin-table-error-message,
.admin-error-message {
  display: inline-block;
  color: #b90303;
  padding: 1rem 2rem;
  background: #fcbebe;
  border-radius: 10rem;
  margin-bottom: 1rem;
  display: none; }

.admin-table-error-message {
  margin-left: 10%; }
