@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

:root{
    --first: rgba(146, 252, 194, 0.6);
    --second: rgba(74, 225, 252, 0.6);
    --root: 'http://localhost/Jerusalem_university/public';
   
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:  'Lato', sans-serif;
}




.file-input,
.register-file-input{
    display: block;
    cursor: pointer;
    margin-top:5px;
    background: rgb(250, 120, 120);
    color: white;
    height:70px;
    width:120px;
    
    font-size:27px;
    padding-left:15px;
 
}



.register-file-input{
    background: rgb(125, 214, 255);
}
.register-file-input:hover{
    background: rgb(95, 161, 192);
}

.img-icon{
    font-size:70px;
}


.file-input:hover{
    background: rgb(226, 49, 73); 
    color: white;
}


/*-------------------- checkbox -----------------------*/


.labell{
    color:red;
}

/*----------------------Header ---------------------*/

.space-div{
    flex:1;
}

.navbar{
    padding-top:5px;
    color:white;
    height:35%;
    display: flex;
    
}

.navbar ul{
    flex:2;
    display: flex;
    font-weight: 600;
}

.big-li{
    width:110px;
    list-style: none;
}

.email-li{
    width:200px;
    list-style: none;  
    text-align: center;
}
.medium-li {
    width:70px;
    list-style: none;
}




.navbar a{
    text-decoration: none;
    color: white;
}

.nav-right-ul{
    justify-content: center;
}


.main-header{
    background: linear-gradient(to right,#1fa2ff,#12d8fa,#a6ffcb);
    height:75px;
    border-bottom: 2px solid #fff;
}


.nav-logo  h1{
    text-align: center;
    color:white;
   
}





/* ---------------------- Footer --------------------*/

.footer{
    background: linear-gradient(to left, #1fa2ff, #12d8fa, #a6ffcb);
    height:200px;
}

.footer-grid{
    padding-top:50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    color:white;
    font-weight: 600;
    
}

.footer-ul-1{
    grid-column: 3/4;
    list-style: none; 
}
.footer-ul-2{
    grid-column: 5/6;
    list-style: none;
}

.footer-grid a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.footer-grid li{
    margin-top: 5px;
}



@media(max-width:600px){
    
    .navbar{
        display: flex;
        flex-direction: column;
        height: auto;
        
    }
    .nav-left-ul{
        justify-content: center;
        border-bottom: 1.5px solid white;
    }
    
    .nav-right-ul{
        justify-content: center;
        border-bottom: 1.5px solid white;
    }
    .main-header{
        background: linear-gradient(to right,#1fa2ff,#12d8fa,#a6ffcb);
        height:80px;
        border-bottom: 2px solid #fff;
    }
}