.form-group-large{
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top:20px;
  height:120px;
}

.err-msg{
  color:red;
  font-weight: 300;
  
}

.file-input,
.register-file-input{
    display: block;
    cursor: pointer;
    margin-top:5px;
    background: rgb(250, 120, 120);
    color: white;
    height:70px;
    width:120px;
    
    font-size:27px;
    padding-left:15px;
 
}

.file-input:hover{
  background: rgb(226, 49, 73); 
  color: white;
}

.img-icon{
  font-size:70px;
}

.image-input{
  display: none;
}

