.image-input {
  display: block;
  cursor: pointer;
  margin-top: .5rem;
  background: #fa7878;
  color: white;
  height: 7rem;
  width: 12rem;
  font-size: 27px;
  padding-left: 15px; }

.image-input-group {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 2rem; }

.form-group-large {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 2rem; }

.err-msg {
  color: red;
  font-weight: 300; }

.file-input:hover {
  background: #e23149;
  color: white; }

.img-icon {
  font-size: 70px; }

.image-input {
  display: none; }
