.admin-degree-info{

  display: flex;
  flex-direction: row;

  &-table{
    width:90%;
    background: white;
    padding: 2rem;
    font-size:1.8rem;
    line-height: 200%;
    text-align: start;
    border: 1.5px solid black;
    
  }

  &-body{
    flex:3;
  }

  &-add{
    flex:2;
  }


}