.admin-degree-info{

  display: flex;
  flex-direction: row;
  position: relative;

  &-table{
    
  }

  &-button{
    text-align: center;
    margin: 5rem 0;
  }
  &-header{
    margin: 3rem 0;
    text-align: center;
    color: $admin-color;
    font-weight: 400;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s;

    &:hover{
      transform: scale(1.1);
    }
  }

  &-body{
    flex:3;
  }

  &-add{
    flex:2;
  }


}