.admin-degree-info {
  display: flex;
  flex-direction: row; }
  .admin-degree-info-table {
    width: 90%;
    background: white;
    padding: 2rem;
    font-size: 1.8rem;
    line-height: 200%;
    text-align: start;
    border: 1.5px solid black; }
  .admin-degree-info-body {
    flex: 3; }
  .admin-degree-info-add {
    flex: 2; }
