.admin-degree-info{

  display: flex;
  flex-direction: row;

  &-table{
    
    
  }

  &-header{
    margin: 3rem 0;
    text-align: center;
  }

  &-body{
    flex:3;
  }

  &-add{
    flex:2;
  }


}