
@import './course_row/course_row.scss';




.students-header{

  height:300px;
  color:white;
  background: linear-gradient(
    to right, 
    rgba(9, 155, 155, 0.5),
    rgba(28, 184, 145,0.5), 
    rgba(41, 255, 198,0.5)),
    url('/img/main/users2.jpeg');
  background-position: center;
  

  &-container{
    width: 80%;
    margin: 0 auto;
    
  }

  &-grid{

    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 100px;
    padding-top:40px;
  }

  &-image-container{

    grid-column: 1/3;
    grid-row:1/3;
    :hover{
      transform: scale(1.1);
      background-color:$primary-color;
    }
  }
  &-image{
    display: inline-block;
    width:100%;
    height:100%;
    border-radius: 50%;
    background: white;
    box-shadow: 0 4rem 8rem rgba(black, .7);
    transition: all .3s;
    

    
  }

  &-text{


    &-main{
      display: inline-block;
      padding: 2rem 0;
      margin-bottom: 1rem;
      font-size:4rem;
      font-weight: 400;
      transition: all .3s;
      &:hover{
        transform: translateX(1rem);
        color: $primary-color;
      }
    }

    grid-column: 3/12;
    grid-row: 1/3;
    padding: 3rem;
    line-height: 150%;
    font-size: 1.8rem;
  }
}


.students-courses{
  background: white;
  padding: 10rem ;
  
  border-top: 2px solid white;
  border-bottom: 2px solid white;

&-container{
  width: 80%;
  margin: 0 auto; 
}

&-table{
  background: white;
  border: 1px solid black;
  padding: 20px;
  width:80%;
  text-align: left;
  line-height: 150%;
  font-size:18px;
    
  }

  &-header{
    margin-left:20%;
    padding: 2rem;
  }


}