

.button-secondary{
  display: inline-block;
  border: 1.5px solid $secondary-color-dark;
  background: white;
  color: $secondary-color-dark;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10rem;
  font-weight: 500;
  transition: all .3s;
  
  
  &:hover{
    background: $secondary-color-dark;
    box-shadow: 0 1rem 2rem rgba(black,0.15);
    color:white;
    transform: translateY(-1rem);
    
  }

  &:focus{
    outline: none;
    border : 1px solid $primary-color;
  }
  
}

