
html{
  font-family: 'Lato', 'sans-serif';
  font-size: 66%;

  @include respond(tab) {
    font-size: 60%;
  }

  @include respond(big-phone){
    font-size: 55%;
  }

  @include respond(phone){
    font-size: 50%;
  }

  @include respond(big-pc){
    font-size: 75%;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-size:1.6rem;
  color: $font-color;
  word-spacing: 3px;

  
  
}