.course-content {
  padding-left: 5%;
  line-height: 150%;
  font-size: 1.8rem; }

.course-content-header {
  margin-bottom: 5rem;
  margin-left: 15%; }

.course-content-body {
  width: 85%;
  margin-left: 0;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2); }

.course-content-container {
  display: inline-block; }

.course-content-text {
  display: inline-block;
  margin-left: 1.5rem; }

.course-content-icon {
  color: #00ac64; }

.course-content-row {
  list-style: none;
  display: flex; }
