
.course-content{

  padding-left:15%;
  line-height: 150%;
  font-size:2rem;
  

  &-header{
    margin-bottom: 5rem;
  }

  &-icon{
    color:rgb(0, 172, 100);
  }
  &-row{
    list-style: none;
  }
  
 }
 
 
 


 