


.course-content{

  padding-left:5%;
  line-height: 150%;
  font-size:1.8rem;

  &-header{
    margin-bottom: 5rem;
    margin-left: 15%; 
  }

  &-body{
    width: 85%;
    margin-left:0;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 2px 5px rgba(black,0.1);
  }


  &-container{
    display: inline-block;
  }
  &-text{
    display: inline-block;
    margin-left:1.5rem;
  }
  &-icon{
    color:rgb(0, 172, 100);
  }
  &-row{
    list-style: none;
    display: flex;
  }

}


.course-overview{

  padding-left:5%;
  line-height: 150%;
  font-size:1.8rem;

  &-header{
    margin: 5rem 0 5rem 15%;
    
  }

  &-body{
    width: 85%;
    margin-left:0;
    background-color: white;
    padding: 5rem;
    border-radius: 2rem;
    box-shadow: 0 2px 5px rgba(black,0.1);
  }


 

}


  
  
 
 
 
 


 