

.admin-courses-table{
    position: relative;
    &-link{
      color:rgb(159, 103, 250);
    }

    &-icon{
      position: absolute;
      top:6.5rem;
      right:8rem;
      font-size: 4rem;
      color: $admin-color;
      transition: all .3s;
      cursor: pointer;
      @include respond(phone){
        right:4rem;
      }
  
      &:hover{
        transform: scale(1.2);
      }
    }

    &-image{
      width:80%;
      height:5rem; 
      
    }


  &-header{
    margin: 2rem 0 2rem 5%; 
    width: 65%;
  }
}







