.course-image{
  width:80%;
  height:50px; 
  border: 1px solid rgb(158, 158, 158);
}


#course-image{
  display: none;
}

.admin-courses-header{
  font-size:30px;
  margin-bottom: 20px;
  font-weight: 400;
  margin-left:10%;

}

.admin-courses-table{
  width:90%;
  background: white;
  padding: 20px;
  font-size:18px;
  line-height: 200%;
  text-align: start;
  border: 1.5px solid black;
}


.admin-courses-table th
{
  
  text-align: start;
}

.admin-courses-big-col{
  width:20%;
}
.admin-courses-small-col{
  width:5%;
}
.admin-courses-medium-col{
  width:12%;
}

.edit-icon{
  color:rgb(29, 185, 37);
  margin-left:20%;
}

.delete-icon{
  color: rgb(253, 184, 95);
  margin-left:20%;
}