.text-area{

  display: block;
  height: 8rem;
  width:70%;
  border:none;
  padding: 1rem ;
  font-family: inherit;
  color: inherit;
  

  &-group{
    
    margin-left: 1rem;
    margin-top:2rem;
   
  }

  &:focus{
    outline: none;
    border-bottom: 2px solid $primary-color;
    box-shadow: 0 2px 5px rgba(black,0.1);
  }
  


}



