@import '../../../sass/global.scss';


.header-primary{
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  background-image: linear-gradient(
    to right,
    $secondary-color-dark,
    $primary-color-dark
  );
  

  &:hover{
    transform: rotate(10deg) scale(1.2);
  }
}
