

.admin-users{
  &-forms{
    display: inline-block;
    width: 70%;
    box-shadow: 0 2px 3px rgba(black,.1);
    
  }
  /*
  &-header{
    display: inline-block;
    color: $admin-color-dark;
    cursor: pointer;
    transition: all .3s;
    font-size:2.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    margin-left:12%;
    padding: 2rem;

    &:hover{
      transform: rotate(10deg) scale(1.1);
      
    }
    */
  
}


