.admin-navbar {
  display: flex;
  height: 80px;
  padding: 25px 200px;
  background: #d62e36;
  color: white;
  border-bottom: 2px solid #f08383;
  font-size: 18px; }

.admin-navbar h2 {
  flex: 1; }

.admin-nav-left-ul {
  flex: 1;
  display: flex; }

.admin-nav-right-ul {
  flex: 1;
  display: flex;
  justify-content: flex-end; }

.admin-navbar li {
  width: 25%;
  list-style: none; }

.admin-navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600; }
