.register-body{
  background: #f4f6ff;
  padding-top:100px;
  padding-bottom: 100px;
}


.register-card{
  position: relative;
  padding: 1rem;
  margin:0;
  width: 70%;
  background-image: 
    linear-gradient(110deg,
      rgba(white,0.9) 0%,
      rgba(white,0.9) 60%,
      rgba($secondary-color,0.2) 60%),
    url('/img/main/pic8.jpeg');
  
  @include respond(big-phone){
    width: 85%;
  }
  @include respond(phone){
    background-image: 
    linear-gradient(110deg,
      rgba(white,0.9) 0%,
      rgba(white,0.9) 100%),
    url('/img/main/pic8.jpeg');

  }

  @include respond(pc){
    width: 60%;
  }
  &-button-container{
    
    position: absolute;
    top: 40%;
    right:-50%;
    @media (max-height: 550px) { 
      top:20%;
    };
  }
  
  &-image-container{
    position: relative;
    width:40%;
    height: 20rem;
    margin-top: -3rem;
  }

  &-button{
    background-color: $primary-color-dark;
  }
 
}

.register-form-group{
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 90%;
}