

.course-header{
  
  padding: 3rem 0;
  background-image:  linear-gradient(
      rgba($secondary-color,0.3),
      rgba($primary-color,0.3)),
      url("/img/main/pic8.jpeg");
      
  background-size: cover;
  border-bottom: 5px solid $primary-color-dark;
  
  @include respond(pc){
    height: 45rem;
  }
  

  &-grid{
    width:100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: 6rem;
    
  }

  &-title{
    
    grid-column: 4/9;
    grid-row: 2/3;
    text-align: center;
    padding: 3rem;
    

    h2{
      display: inline-block;
      padding: 1rem 2rem;
      font-size: 3rem;
      font-weight: 400;
      color: $secondary-color-dark;
      cursor: pointer;
      text-align: center;
      background: rgba($primary-color,0.3);
      border-radius: 10rem;
      border: 3px solid $secondary-color-dark;
      box-shadow: 0 1rem 2rem rgba(black,0.2);
      transition: all .2s;
      text-transform: uppercase;
      letter-spacing: 2px;

      @include respond(big-phone){
        font-size: 2.5rem;
      }
      @include respond(pc){
        margin-right: 30%;
      }

      &:hover{
        transform: translateY(-0.5rem) scale(1.05);
      }
    }

  }

  &-container{
    border: 4px solid $secondary-color;
    grid-row: 2/7;
    grid-column: 2/4;
    transition: all .3s;
    box-shadow: 0 1rem 2rem rgba(black,0.4);

    @include respond(phone){
      grid-column: 1/4;
      margin-left:3rem;
    }
    
    &:hover{
      transform: rotate(5deg) scale(1.05);
      box-shadow: 0 2rem 4rem rgba(black,0.4);
    }
  }

  &-image{
    width:100%;
    height: 100%;
  }

  &-overview{
    
    grid-row: 4/7;
    grid-column: 4/9;
    margin-left:30%;
    
    color: $secondary-color;
    padding:2rem;
    line-height: 160%;
    overflow: hidden;
    font-size:1.8rem;
    border-left: none;
    strong{
      font-weight: 400;
    }
    @include respond(big-phone){
      margin-left:20%;
    }
 
  }
  
}













