.admin-button {
  border: 1.5px solid #fd5f5f;
  background: white;
  color: #fd5f5f;
  width: 120px;
  height: 50px;
  font-size: 18px;
  margin-left: 60%;
  margin-top: 5%;
  cursor: pointer; }

.admin-button:hover {
  border: none;
  background: #fd5f5f;
  color: white; }
