
@import './comments/comments.scss';
@import './courses/courses.scss';
@import './degrees/degrees.scss';
@import './includes/includes.scss';
@import './users/users.scss';




.admin-form{
  
    display: block;
    width: 70%;
    box-shadow: 0 2px 3px rgba(black,.1);
    border: 1px solid rgb(219, 219, 219); 
    
    @include respond(small-tab){
      
      margin: 0 auto;
    }
    @include respond(big-phone){
      width: 90%;
      margin: 0 auto;
    }
    

  &-header{
    display: inline-block;
    color: $admin-color;
    cursor: pointer;
    transition: all .3s;
    font-size:2.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    

    &:hover{
      transform: rotate(10deg) scale(1.1);
    } 
  }

  &-button{
    margin: 2rem 0 3rem 45%;
  }
}

.admin-form-header-fix{
  margin: 3rem 0 3rem 10rem;
  @include respond(big-phone){
    margin: 3rem 0 3rem 2rem;
  }
}

.admin-table{
  width:100%;
  background: white;
  padding: 2rem;
  font-size: 1.8rem;
  line-height: 200%;
  text-align: start;
  border: 1.5px solid rgb(224, 224, 224);

  & th{
    text-align: start;
  }

  &-big-col{
    width:20%;
  }
  &-small-col{
    width:5%;
  }
  &-medium-col{
    width:12%;
  }

}


.edit-icon{
  color:rgb(29, 185, 37);
  margin-left:20%;
}

.delete-icon{
  color: rgb(253, 184, 95);
  margin-left:20%;
}

.hide-on-phone{
  @include respond(phone){
    display: none;
  }
}

.hidden{
  display: none;
}

.admin-grid{
    height: auto;
    min-height: 80rem;
    display: flex;
    
}

.admin-main{
    
    flex:4;
    height:auto;
    background: #f4f4f4;
    
    
}

.admin-main-block{
    padding:5% 10%;
    width:100%;
    @include respond(big-phone){
      padding:5% 2%;
    }
 
     
}

.admin-footer{
    background: white;
    color:black;
}

.admin-table-error-message,
.admin-error-message{
  display: inline-block;
  color:rgb(185, 3, 3);
  padding:1rem 2rem;
  background: rgb(252, 190, 190);
  border-radius: 10rem;
  margin-bottom: 1rem;
  display: none;
}

.admin-table-error-message{
  margin-left:10%;
  
}









