.register-file-input {
  background: #7dd6ff; }

.register-file-input:hover {
  background: #5fa1c0; }

.register-body {
  background: #f4f6ff;
  padding-top: 100px;
  padding-bottom: 100px; }

.register-card {
  width: 40%;
  margin: 0 auto;
  border: 1px solid #bdbdbd;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)) url("/img/main/bg1.jpeg"); }

.register-form {
  padding: 20px; }

.register-card-header {
  background: linear-gradient(to left, #36D1DC, #5B86E5);
  height: 100px; }

.register-card-header h3 {
  text-align: center;
  padding: 25px;
  color: white;
  font-size: 40px;
  font-weight: 300; }

.register-card-footer {
  background: linear-gradient(to left, #36D1DC, #5B86E5);
  height: 80px; }

.register-card-footer p {
  text-align: center;
  padding: 28px;
  color: white;
  font-size: 18px; }

.register-form-button {
  border: 1.5px solid #7dd6ff;
  background: white;
  color: #7dd6ff;
  width: 120px;
  height: 50px;
  font-size: 18px;
  margin-left: 60%;
  margin-top: 5%;
  cursor: pointer; }

.register-form-button:hover {
  background: #7dd6ff;
  color: white; }

/* ------------------ Login ----------------------*/
